<div class=" text-center">
  <!-- Conteúdo do carrossel -->
  <div class="flex flex-col md:flex-row mt-4 justify-center items-center w-1/2 md:w-auto">

    <div #carouselItem class="">
      <img class="flex justify-center rounded-lg " width="336" Src="./assets/PC-yourlinkhubdark.png" alt="" />
    </div>
    <div #carouselItem class="">
      <img class="flex justify-center md:w-102 md:h-72 w-29 h-40 rounded-lg " Src="./assets/yourlinkhubdark.png" alt="" />
    </div>
    <div #carouselItem class="">
      <img class="flex justify-center md:w-102 md:h-72 w-29 h-40 rounded-lg " Src="./assets/yourlinkhublight.png" alt="" />
    </div>

    <div #carouselItem class="">
      <img class="flex justify-center md:w-50 md:h-30 rounded-lg " Src="./assets/PC-yourlinkhublight.png" alt="" />
    </div>



  </div>

  <!-- Botões de navegação -->
  <div class="flex justify-between items-center">
    <button #prevButton class="flex justify-center items-center w-8  text-white rounded-lg">
      <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
      </svg>
    </button>
    <button #nextButton class="flex justify-center items-center w-8  text-white rounded-lg">
      <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
      </svg>
    </button>
  </div>
</div>
