<header class="fixed top-0 left-0 right-0 z-10 flex items-center justify-between bg-myblackone px-4 py-2 text-white">
  <div class="flex items-center">
    <div>
      <h3 class="logo mr-4 font-bold text-lg">JassCordeiro.dev</h3>
    </div>
  </div>

  <nav class="hidden md:flex items-center"> <!-- Hide on small screens -->
    <ul class="flex justify-center">
      <li class="wt-28 h-12 flex justify-center items-center nav-item hover:bg-mypurple rounded-lg cursor-pointer"><a href="#home" class="w-full h-full flex justify-center items-center">Home</a></li>
      <li class="w-32 h-12 flex justify-center items-center nav-item hover:bg-mypurple rounded-lg cursor-pointer"><a href="#sobreMim" class="w-full h-full flex justify-center items-center">Sobre mim</a></li>
      <li class="wt-28 h-12 flex justify-center items-center nav-item hover:bg-mypurple rounded-lg cursor-pointer"><a href="#skills" class="w-full h-full flex justify-center items-center">Skills</a></li>
      <li class="wt-28 h-12 flex justify-center items-center nav-item hover:bg-mypurple rounded-lg cursor-pointer"><a href="#projetos" class="w-full h-full flex justify-center items-center">Projetos</a></li>
      <li class="wt-28 h-12 flex justify-center items-center nav-item hover:bg-mypurple rounded-lg cursor-pointer"><a href="#contatos" class="w-full h-full flex justify-center items-center">Contatos</a></li>
    </ul>
  </nav>

  <!-- Menu for small screens -->
  <div class="md:hidden">
    <button (click)="toggleMobileMenu()" class="text-white hover:text-gray-400 focus:outline-none">
      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/>
      </svg>

    </button>
  </div>

  <!-- Mobile Menu -->
  <div *ngIf="mobileMenuVisible" class="md:hidden border">
    <div class="fixed inset-0 z-50  bg-opacity-75 flex justify-center items-center text-center">
      <div class="bg-mybg rounded-lg p-4 border">
        <ul class="flex flex-col">
          <li class="nav-item hover:bg-mypurple rounded-lg cursor-pointer mb-2" (click)="toggleMobileMenu()"><a href="#">Home</a></li>
          <li class="nav-item hover:bg-mypurple rounded-lg cursor-pointer mb-2" (click)="toggleMobileMenu()"><a href="#sobreMim">Sobre mim</a></li>
          <li class="nav-item hover:bg-mypurple rounded-lg cursor-pointer mb-2" (click)="toggleMobileMenu()"><a href="#skills">Skills</a></li>
          <li class="nav-item hover:bg-mypurple rounded-lg cursor-pointer mb-2" (click)="toggleMobileMenu()"><a href="#projetos">Projetos</a></li>
          <li class="nav-item hover:bg-mypurple rounded-lg cursor-pointer mb-2" (click)="toggleMobileMenu()"><a href="#contatos">Contatos</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
