<app-header></app-header>
<main class="flex flex-col gap-2 text-mywhite md:m-16 sm:m-4 ">
  <div class="">
    <section class="flex justify-center items-center">

    <img Src="./assets/profile.jpeg" class=" object-contain rounded-full" alt="Imagem" width="200" >

  </section>

  <div class="flex justify-center items-center  md:mt-6  ">
    <div class="text-center ">
        <h1 class="text-3xl font-bold">Sobre mim</h1>
        <p class="p-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, velit soluta. Animi molestiae asperiores saepe aliquam aperiam quas, quos similique fuga libero voluptate enim commodi obcaecati suscipit molestias itaque incidunt?Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, velit soluta. Animi molestiae asperiores saepe aliquam aperiam quas, quos similique fuga libero voluptate enim commodi obcaecati suscipit molestias itaque incidunt?Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, velit soluta. Animi molestiae asperiores saepe aliquam aperiam quas, quos similique fuga libero voluptate enim commodi obcaecati suscipit molestias itaque incidunt?</p>
    </div>
  </div>
</div>

  <div class="">
    <div class="flex items-center justify-center ">
      <div class="text-center">
        <h1 class="text-3xl font-bold ">Skills</h1>
        <div class="p-4">
          <div class="mb-4 flex flex-col sm:flex-col md:flex-row"> <!-- Usar flex-col para dispositivos móveis -->
            <div class="java md:flex md:items-center  ">
              <h2 class=" font-bold mr-24 ml-24 order-first md:order-last rounded-md bg-mypurple p-4 ">JAVA</h2> <!-- Título vem antes do texto e fica à direita em telas médias -->
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis velit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis velit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis velit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis velit.</p>
            </div>
          </div>
          <div class="mb-4 flex flex-col sm:flex-col md:flex-row"> <!-- Usar flex-col para dispositivos móveis -->
            <div class="java md:flex md:items-center  ">
              <h2 class=" font-bold mr-24 ml-24 order-last md:order-first rounded-md bg-mypurple p-4 ">JAVA</h2> <!-- Título vem antes do texto e fica à esquerda em telas médias -->
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis velit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis velit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis velit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis velit.</p>
            </div>
          </div>
          <div class="mb-4 flex flex-col sm:flex-col md:flex-row"> <!-- Usar flex-col para dispositivos móveis -->
            <div class="java md:flex md:items-center  ">
              <h2 class=" font-bold mr-24 ml-24 order-first md:order-last rounded-md bg-mypurple p-4 ">JAVA</h2> <!-- Título vem antes do texto e fica à direita em telas médias -->
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis velit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis velit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis velit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis velit.</p>
            </div>
          </div>
          <div class="mb-4 flex flex-col sm:flex-col md:flex-row"> <!-- Usar flex-col para dispositivos móveis -->
            <div class="java md:flex md:items-center  ">
              <h2 class=" font-bold mr-24 ml-24 order-last md:order-first rounded-md bg-mypurple p-4 ">JAVA</h2> <!-- Título vem antes do texto e fica à esquerda em telas médias -->
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis velit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis velit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis velit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis velit.</p>
            </div>
          </div>
          <!-- to be continue -->
        </div>
      </div>
    </div>
  </div>


  <app-carousel></app-carousel>
  <h1 class="flex justify-center text-3xl font-bold  ">Contatos</h1>
  <div class="contacts flex flex-col md:flex-row mt-4 justify-between">
    <div class="text-center w-full md:w-1/3">
      <div class="flex flex-row mt-4 justify-between">
        <div class="w-full">
          <div class="">Linkedin</div>
        </div>
      </div>
    </div>
    <div class="text-center w-full md:w-1/3">
      <div class="flex flex-row mt-4 justify-between">
        <div class="w-full">
          <div class="">Instagram</div>
        </div>
      </div>
    </div>
    <div class="text-center w-full md:w-1/3">
      <div class="flex flex-row mt-4 justify-between">
        <div class="w-full">
          <div class="">E-mail</div>
        </div>
      </div>
    </div>
  </div>




</main>

<app-footer></app-footer>

