<!-- Editar o carrossel para os itens -->

<h1 id="projetos" class="text-center text-3xl font-bold mt-4">Projetos</h1>

<div id="indicators-carousel" class="relative z-0 flex justify-center items-center p-4" data-carousel="static">
  <!-- Carousel wrapper -->
  <div class="relative overflow-hidden rounded-lg h-96 w-full max-w-screen-md">
  <!-- Carousel items -->
  <div class="absolute w-full h-full flex justify-center items-center ">
    <div class="bg-mygray rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex justify-center items-center md:flex-row flex-col " data-carousel-item>
      <img class="rounded-t-lg flex justify-center md:w-48 md:h-72 w-25 h-40" Src="./assets/Calculator.png" alt="" />
      <div class="p-5 flex flex-col justify-center items-center">
        <h5 class="text-center mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Calculadora</h5>
        <p class="text-center mb-3 font-normal text-gray-700 dark:text-gray-400">HTML/CSS/JS</p>
        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Ir para
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="absolute w-full h-full flex justify-center items-center ">
    <div class="bg-mygray rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex justify-center items-center md:flex-row flex-col " data-carousel-item>
      <img class="rounded-t-lg flex justify-center md:w-48 md:h-72 w-25 h-40" Src="./assets/zyde.png" alt="" />
      <div class="p-5 flex flex-col justify-center items-center">
        <h5 class="text-center mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Zyde</h5>
        <p class="text-center mb-3 font-normal text-gray-700 dark:text-gray-400">HTML/CSS/JS</p>
        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Ir para
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="absolute w-full h-full flex justify-center items-center ">
    <div class="bg-mygray rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex justify-center items-center md:flex-row flex-col " data-carousel-item>
      <img class="rounded-t-lg flex justify-center md:w-48 md:h-72 w-25 h-40" Src="./assets/Pizzaria.png" alt="" />
      <div class="p-5 flex flex-col justify-center items-center">
        <h5 class="text-center mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Pizzaria</h5>
        <p class="text-center mb-3 font-normal text-gray-700 dark:text-gray-400">HTML/CSS/Php/MySQL</p>
        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Ir para
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
        </a>
      </div>
    </div>
  </div>





  </div>
  <!-- Slider indicators -->
  <div class="absolute z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse bottom-5 left-1/2">
      <button type="button" class="w-2 h-2 rounded-full bg-mygray3" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
      <button type="button" class="w-2 h-2 rounded-full bg-mygray3" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
      <button type="button" class="w-2 h-2 rounded-full bg-mygray3" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
      <button type="button" class="w-2 h-2 rounded-full bg-mygray3" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
      <button type="button" class="w-2 h-2 rounded-full bg-mygray3" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
  </div>
  <!-- Slider controls -->
  <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none " data-carousel-prev>
      <span class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-mygray2 dark:bg-gray-800/30 group-hover:bg-mygray3 dark:group-hover:bg-gray-800/60 group-focus:ring-2 group-focus:ring-mygray dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
          </svg>
          <span class="sr-only">Previous</span>
      </span>
  </button>
  <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none " data-carousel-next>
      <span class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-mygray2 dark:bg-gray-800/30 group-hover:bg-mygray3 dark:group-hover:bg-gray-800/60 group-focus:ring-2 group-focus:ring-mygray dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <span class="sr-only">Next</span>
      </span>
  </button>
</div>
