<div [class]="'group flex justify-center items-center flex-col p-6 bg-white dark:bg-mygray2 border dark:border-mygray3 rounded-xl shadow-lg hover:shadow-xl transition-all duration-300 hover:scale-105 cursor-pointer'">
  <div class="mb-3 transform transition-transform duration-300 group-hover:scale-110">
    
    <!-- Ícones existentes -->
    <img *ngIf="type == 'html'" src="../../../assets/vectors/html.svg" alt="HTML icon" class="w-12 h-12">
    <img *ngIf="type == 'css'" src="../../../assets/vectors/css.svg" alt="CSS icon" class="w-12 h-12">
    <img *ngIf="type == 'javascript'" src="../../../assets/vectors/javascript.svg" alt="JavaScript icon" class="w-12 h-12">
    <img *ngIf="type == 'angular'" src="../../../assets/vectors/angular.svg" alt="Angular icon" class="w-12 h-12">
    <img *ngIf="type == 'php'" src="../../../assets/vectors/php.svg" alt="PHP icon" class="w-12 h-12">
    <img *ngIf="type == 'java'" src="../../../assets/vectors/java.svg" alt="Java icon" class="w-12 h-12">
    <img *ngIf="type == 'python'" src="../../../assets/vectors/python.svg" alt="Python icon" class="w-12 h-12">
    <img *ngIf="type == 'tailwind'" src="../../../assets/vectors/tailwind.svg" alt="Tailwind icon" class="w-12 h-12">
    <img *ngIf="type == 'git'" src="../../../assets/vectors/git.svg" alt="Git icon" class="w-12 h-12">
    <img *ngIf="type == 'csharp'" src="../../../assets/vectors/csharp.svg" alt="C# icon" class="w-12 h-12">
    
    <!-- Docker -->
    <img *ngIf="type == 'docker'" src="../../../assets/vectors/docker.svg" alt="Docker icon" class="w-12 h-12">
    
  </div>
  
  <h5 class="text-sm font-semibold text-center text-gray-900 dark:text-white">{{label}}</h5>
</div>
