<a [class]="'flex justify-center items-center flex-col p-6 bg-white dark:bg-mygray2 bg-gray-100 border dark:border-mygray3 rounded-lg shadow card-transition card-hover'">
  <h5 class="mb-2 text-center tracking-tight dark:text-white text-black">{{label}}</h5>
  <img *ngIf="type == 'html'" src="../../../assets/vectors/html.svg" alt="HTML icon" class="transform transition-transform duration-1000">
  <img *ngIf="type == 'css'" src="../../../assets/vectors/css.svg" alt="CSS icon" class="transform transition-transform duration-1000">
  <img *ngIf="type == 'javascript'" src="../../../assets/vectors/javascript.svg" alt="JavaScript icon" class="transform transition-transform duration-1000">
  <img *ngIf="type == 'angular'" src="../../../assets/vectors/angular.svg" alt="Angular icon" class="transform transition-transform duration-1000">
  <img *ngIf="type == 'php'" src="../../../assets/vectors/php.svg" alt="PHP icon" class="transform transition-transform duration-1000">
  <img *ngIf="type == 'java'" src="../../../assets/vectors/java.svg" alt="Java icon" class="transform transition-transform duration-1000">
  <img *ngIf="type == 'python'" src="../../../assets/vectors/python.svg" alt="Python icon" class="transform transition-transform duration-1000">
  <img *ngIf="type == 'tailwind'" src="../../../assets/vectors/tailwind.svg" alt="Tailwind icon" class="transform transition-transform duration-1000">
  <img *ngIf="type == 'git'" src="../../../assets/vectors/git.svg" alt="Git icon" class="transform transition-transform duration-1000">
  <img *ngIf="type == 'csharp'" src="../../../assets/vectors/csharp.svg" alt="C# icon" class="transform transition-transform duration-1000">
  <!-- <div class="m-1 md:m-4 md:w-40 w-10 dark:bg-mygray3 bg-gray-300 h-1.5 mb-4 rounded-full">
     <div [class]="'bg-mypurple-dark h-1.5 rounded rounded-full ' + progress"></div>
  </div> -->
</a>
